
/* nav bar */

nav{
    width: 100vw;
    height: 70px;
}

#small-logo{
    max-width: 38px;
    max-height: auto;
}




/* fine nav bar */



/* aside */

aside{
    background-color: #051e34;

    width: 150px;
    height: calc(100vh - 70px);  /* altezza totale della viewport - l'altezza della navbar */

    background-image: url("../img/sidebar-bg.png");
}


.aside-tools:hover{
    background-color: rgba(255, 255, 255, .3);
}

/* fine aside */



/* main */

main{
    width: calc(100% - 150px);
    height: calc(100vh - 70px);  /* altezza totale della viewport - l'altezza della navbar */
}



header{
    height: 123px;
}


.my_w_breadcrum{
    width: 90%;
}

.my_fs_breadcrum{
    font-size: 12px;
}


.my_breadcrum_cover{
    display: inline-block;

    padding:4px 8px;

    background-color: rgba(0, 0, 0, .3);

    border-radius: 16px;
}


.my_lg_d-list_item{
}


.my_affcanvas-w{
    width: 60% !important;
}

.offcanvas-body label{
    margin-bottom: 10px;
}


.my_status{
    padding:4px 4px;

    text-align: center;

    font-size:10px;
    color:white;
}

.done{
    background-color: #198754;
}

.process{
    background-color: #ffc107;
}

.failed{
    background-color: #dc3545;
}

.icon-table{
    padding:5px;
    color:#6c757d;
    border:1px #6c757d solid;
}


tbody tr td:last-child{
    padding-left: 0;
    padding-right: 0;
}

.my_md_d-tc{
}


.my_border_checkbox{
    border: 1px solid rgba(0, 0, 0, .2);
}


.my_faq_btn{
    display: inline-block;
    width: 100%;

    padding:20px;

    text-decoration: none;
    color:black;
}

.my_collapse_faq_element{
    width: 100%;

    padding:20px;

}
/* fine main */





/* media query */


/* >= laptop */
@media screen and (min-width:992px) {
    .my_lg_d-list_item{
        display: list-item !important;
    }
}



@media screen and (min-width:768px) {
    
    .my_md_d-tc{
        display: table-cell !important;
    }


}


/* tablet */
@media screen and (max-width:991px) {
    
/* aside */

aside{
    width: 68px;
}


/* main */
main{
    width: calc(100vw - 68px);
    height: calc(100vh - 70px);  /* altezza totale della viewport - l'altezza della navbar */
}



header{
    height: 123px;
}

.my_w_breadcrum{
    width: auto;
}


.my_affcanvas-w{
    width: 100% !important;
}

}



@media screen and (max-width:767px) {

header{
    height: 263px;
}
    
}