/* nav bar */

nav{
    width: 100vw;
    height: 70px;
}


/* fine nav bar */



/* aside */

aside{
    background-color: #051e34;

    width: 150px;
    height: calc(100vh - 70px);  /* altezza totale della viewport - l'altezza della navbar */

    background-image: url("../img/sidebar-bg.png");
}

/* fine aside */



/* main */

main{
    width: calc(100% - 150px);
    height: calc(100vh - 70px);  /* altezza totale della viewport - l'altezza della navbar */
}



header{
    height: 123px;
}


.my_w_breadcrum{
    width: 90%;
}
/* fine main */





/* media query */


/* tablet */
@media screen and (max-width:991px) {
    
/* aside */

aside{
    width: 68px;
}


/* main */
main{
    width: calc(100vw - 68px);
    height: calc(100vh - 70px);  /* altezza totale della viewport - l'altezza della navbar */
}



header{
    height: 123px;
}

}



@media screen and (max-width:767px) {

header{
    height: 263px;
}
    
}